<footer class="footer bg-secondary-9">
    <div class="container">
        <div class="d-none d-lg-flex justify-content-between w-100 py-20 border-1 border-bottom border-white">
            <div>
                <a class="text-white d-flex align-items-center mb-3" href="index.html"><i class="ph ph-waves fs-5 me-3"></i><p class="fs-5 fw-bold">SmartSync</p></a>
                <h1 class="fs-7 mb-3">加入我們的時事通訊，了解最新的功能和版本。</h1>
                <div class="d-flex mb-3">
                    <input type="text" class="py-2 ps-4 pe-3 me-4 rounded-5 text-gray-6" style="width: 366px;" placeholder="Enter your email">
                    <button class="btn btn-primary py-2 px-5 rounded-5 ">訂閱</button>
                </div>
                <p class="text-white fs-sm">訂閱即表示您同意我們的 <a href="#" class="text-white a-td">隱私權政策</a> 並同意接收我們公司的更新。</p>
            </div>
            <div class="d-flex">
                <ul class="w-213 list-unstyled me-4">
                    <h2 class="fs-base fw-bold mb-4">關於SmartSync</h2>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">品牌故事</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">加入我們</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">最新消息</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">常見問題</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">服務條款</a></li>
                </ul>
                <ul class="w-213 list-unstyled me-4">
                    <h2 class="fs-base fw-bold mb-4">購物須知</h2>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">購物流程</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">運送服務</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">付款服務</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">退換貨服務</a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm">禮品卡&購物金</a></li>
                </ul>
                <ul class="w-213 list-unstyled">
                    <h2 class="fs-base fw-bold mb-4">Follow Us</h2>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm"><i class="ph-fill ph-facebook-logo fs-5 pe-3"></i><span class="align-top">Facebook</span></a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm"><i class="ph ph-instagram-logo fs-5 pe-3"></i><span class="align-top">Instagram</span></a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm"><i class="ph ph-x-logo fs-5 pe-3"></i><span class="align-top">Twitter</span></a></li>
                    <li><a href="#" class="text-white fw-normal py-2 d-inline-block fs-sm"><i class="ph-fill ph-linkedin-logo fs-5 pe-3"></i><span class="align-top">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between pt-8 pb-8 pb-lg-20">
            <div class="">
                <a class="text-white d-flex d-lg-none align-items-center mb-4" href="index.html"><i class="ph ph-waves fs-5 me-3"></i><p class="fs-5 fw-bold">SmartSync</p></a>
                <p class="text-gray-4 text-lg-white fs-lg-sm mb-4 mb-lg-0">© 2024 SmartSync. All rights reserved.</p>
            </div>
            <div>
                <ul class="list-unstyled d-flex fs-lg-xs mb-4">
                    <li><a href="#" class="a-td text-white">隱私權保護</a></li>
                    <li><a href="#" class="a-td text-white mx-4 mx-lg-6">服務條款</a></li>
                    <li><a href="#" class="a-td text-white">Cookies Settings</a></li>
                </ul>
                <p class="text-gray-4 d-block d-lg-none">If you are using a screen reader and are having problems using this website, please call (+123) 456-7890 for assistance.</p>
            </div>
        </div>
    </div>
</footer>