<header class="header">
    <nav class="navbar navbar-expand-lg p-0">
        <div class="header-container">
            <div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-start justify-content-lg-between w-100 py-4">
                <div class="d-flex align-items-lg-center w-100 d-lg-none">
                    <button class="navbar-toggler fs-base border-0 rounded-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                       <span><i class="ph ph-list text-white fs-5"></i></span>
                    </button>
                    <div class="mx-auto d-block d-lg-none">
                      <a class="navbar-brand text-white d-flex align-items-center p-0" href="index.html"><i class="ph ph-waves fs-5 me-3"></i><p class="fw-bold fs-7">SmartSync</p></a>
                    </div>
                    <div class="d-flex align-items-center d-lg-none">
                        <a type="button" class="position-relative text-white me-3 py-1">
                            <i class="ph ph-shopping-cart-simple align-bottom fs-5"></i>
                            <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger ps-1" style="font-size: 8px;" >1</span>
                        </a>
                        <a href="#" class="text-white py-1"><i class="ph ph-user fs-5 align-bottom"></i></a>
                    </div>
                </div>
                <div class="collapse navbar-collapse fs-base w-100 w-lg-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown mx-auto">
                        <a
                          class="nav-link dropdown-toggle py-3 px-6 text-white fw-bold"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        門市資訊<i class="ph ph-caret-down fs-5 align-bottom ms-2 d-none d-lg-inline-block"></i>
                        </a>
                        <ul class="dropdown-menu rounded-0">
                          <li><a class="dropdown-item" href="#">台北門市</a></li>
                          <li><a class="dropdown-item" href="#">台中門市</a></li>
                          <li>
                            <a class="dropdown-item" href="#">高雄門市</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown mx-auto">
                        <a
                          class="nav-link dropdown-toggle py-3 px-6 text-white fw-bold"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                        資訊中心<i class="ph ph-caret-down fs-5 align-bottom ms-2 d-none d-lg-inline-block"></i>
                        </a>
                        <ul class="dropdown-menu rounded-0">
                          <li><a class="dropdown-item" href="#">最新資訊</a></li>
                          <li><a class="dropdown-item" href="#">熱門資訊</a></li>
                          <li>
                            <a class="dropdown-item" href="#">其他資訊</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nav-item mx-auto">
                        <a class="nav-link py-3 px-6 text-white fw-bold" href="#">服務指南</a>
                      </li>
                    </ul>
                  </div>
                <div class="mx-auto d-none d-lg-block">
                    <a class="navbar-brand text-white d-flex align-items-center" href="index.html"><i class="ph ph-waves fs-3 me-3"></i><p class="fs-5 fw-bold">SmartSync</p></a>
                </div>
                <div class="d-none d-lg-block w-25 text-end">
                    <button class="btn btn-text fs-base py-3 px-11 rounded-5"><i class="ph ph-user fs-5 align-bottom pe-2"></i>登入/註冊</button>
                </div>
            </div>
        </div>
    </nav>
</header>
