.a-td{
    text-decoration: underline;
    @media(max-width:992px){
        text-decoration: none;
    }
}
.w-213{
    width: 213px;
    @media(max-width:1400px){
        width: 150px;
    }
    @media(max-width:1200px){
        width: 120px;
    }
}