.header{
  background: linear-gradient(to bottom,rgba(87, 126, 59, 1) ,rgba(115, 154, 86, 1) ,rgba(142, 183, 113, 1));
}
.header-container{
  padding-right: 40px;
  padding-left: 40px;
  width: 1536px;
  margin: 0 auto;
  @media(max-width:992px){
    padding-right: 16px;
    padding-left: 16px;
  }
}
.navbar-collapse{
  flex-grow: 0;
}
.dropdown-toggle::after {
	display: none;
}
button:focus:not(:focus-visible) {
	outline: none;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}