.plan-select4-text{
    padding-right: 155px;
    padding-left: 87px;
    padding-top: 80px;
    padding-bottom: 80px;
    @media(max-width:1399px){
        padding-right: 72px;
        padding-left: 72px;
    }
    @media(max-width:1199px){
        padding-right: 50px;
        padding-left: 50px;
    }
    @media(max-width:992px){
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 24px;
    }
}
.swiper.planselect4Swiper2{
    margin-top: 32px;
    margin-left: 32px;
    @media(max-width:1399px){
        margin-top: 64px;
    }
    @media(max-width:1199px){
        margin-top: 120px;
    }
    @media(max-width:992px){
        margin-top: 0;
        margin-left: 0;
    }
}
.swiper.planselect4Swiper{
    margin-bottom: 32px;
    margin-left: 32px;
}

.swiper.planselect4_2Swiper2{
    margin-top: 32px;
    margin-left: 32px;
    @media(max-width:1399px){
        margin-top: 64px;
    }
    @media(max-width:1199px){
        margin-top: 120px;
    }
    @media(max-width:992px){
        margin-top: 0;
        margin-left: 0;
    }
}
.swiper.planselect4_2Swiper{
    margin-bottom: 32px;
    margin-left: 32px;
}

.swiper.planselect4_3Swiper2{
    margin-top: 32px;
    margin-left: 32px;
    @media(max-width:1399px){
        margin-top: 64px;
    }
    @media(max-width:1199px){
        margin-top: 120px;
    }
    @media(max-width:992px){
        margin-top: 0;
        margin-left: 0;
    }
}
.swiper.planselect4_3Swiper{
    margin-bottom: 32px;
    margin-left: 32px;
}

.mt-planselect4{
    @media(max-width:992px){
        margin-top: 83px;
    }
    @media(max-width:768px){
        margin-top: 64px;
    }
    @media(max-width:576px){
        margin-top: 124px;
    }
    @media(max-width:400px){
        margin-top: 102px;
    }
}
.mb-planselect4{
    @media(max-width:992px){
        margin-bottom: 112px;
    }
    @media(max-width:768px){
        margin-bottom: 96px;
    }
    @media(max-width:576px){
        margin-bottom: 148px;
    }
    @media(max-width:400px){
        margin-bottom: 128px;
    }
}
.img-bp3{
    height: 440px;
    @media(max-width:1399px){
      height: 355px;
    }
    @media(max-width:1199px){
        height: 293px;
    }
}
.img-bp4{
    height: 106px;
    @media(max-width:1399px){
      height: 85px;
    }
    @media(max-width:1199px){
        height: 69px;
    }
}