.plan-select-banner {
  background-image: url(/assets/images/首頁圖.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  width: auto;
  height: 800px;
  @media (max-width: 768px) {
    height: 780px;
    margin-bottom: 24px;
    background-position: 95%;
    border-radius: 0 0 24px 24px;
  }
}
.plan-select-text {
  padding-right: 144px;
  padding-left: 144px;
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: 1199px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media (max-width: 992px) {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
  }
}
.plan-select-text-dec-fill {
  width: 95px;
  height: 8px;
  background-color: #577e3b;
  border-radius: 14px;
  @media (max-width: 992px) {
    width: 112px;
  }
}
.plan-select-text-dec {
  width: 95px;
  height: 8px;
  background-color: #e5e7eb;
  border-radius: 14px;
  @media (max-width: 992px) {
    width: 112px;
  }
}
.swiper.planselectSwiper2 {
  height: 576px;
  margin-top: 32px;
  margin-bottom: 32px;
  @media (max-width: 992px) {
    height: 260px;
  }
  @media (max-width: 768px) {
    height: 240px;
  }
}
.swiper-slide-thumb-active{
  .btn-custom{
    background: #ffffff;
    color: $primary-600;
    border-color: $primary-600;
  }
}