.plan-select2-text{
    padding-right: 144px;
    padding-left: 144px;
    padding-top: 80px;
    padding-bottom: 80px;
    @media(max-width:1400px){
        padding-right: 72px;
        padding-left: 72px;
    }
    @media(max-width:1200px){
        padding-right: 50px;
        padding-left: 50px;
    }
    @media(max-width:992px){
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 24px;
    }
}
.swiper.planselect2Swiper2{
    height: 576px;
    margin-top: 32px;
    margin-bottom: 32px;
    @media(max-width:992px){
        height: 260px;
    }
    @media(max-width:768px){
        height: 240px;
    }
}
.swiper.planselect2Swiper{
    width: auto;
    @media(max-width:992px){
        width: 50%;
    }
    @media(max-width:768px){
        width: 75%;
    }
    @media(max-width:504px){
        width: auto;
    }
}

