<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner">
      <div class="container h-100 text-white">
        <div class="row h-100">
          <div class="col-lg-6 h-100 d-flex flex-column justify-content-end position-relative">
            <div class="border-1 border-white rounded-5 p-6 bg-white bg-opacity-25 mb-index">
              <h1 class="fs-7 fs-md-xl fw-bold text-white mb-3">尋找產品</h1>
              <p class="fs-sm fs-md-base text-white mb-3">請輸入您想要尋找的產品</p>
              <form class="d-flex" role="search">
                <div class="position-relative w-100">
                  <input class="form-control rounded-5 border-gray-9 py-2 py-md-3 pe-11 pe-md-11" type="search" placeholder="例如:電視、窗簾..." aria-label="Search"/>
                  <a href="plan-select.html"><i class="ph ph-arrow-up text-gray-9 position-absolute top-50 end-0 translate-middle-y me-3 fs-5"></i></a>
                </div>
              </form>
            </div>
            <!--第四個裝飾(平板以下)-->
            <div class="custom-box4 bg-white bg-opacity-25 rounded-5 d-block d-lg-none card-topic2">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <h2 class="fs-6 fw-bold pe-2 border-1 border-end border-white">智能照明</h2>
                  <h2 class="fs-6 fw-bold ps-2">iLighting</h2>
                </div>
                <a href="#" class="d-inline-block link-light stretched-link"><i class="ph ph-arrow-up-right fs-3"></i></a>
              </div>
            </div>
            <div class="index-dec-box4 bg-white bg-opacity-50 d-block d-lg-none">
              <div class="index-dec-in-box4">
              </div>
            </div>
            <div class="index-dec-line4 d-block d-lg-none">
              <img src="/assets/images/pen_size_2_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" class="img-fluid" alt="">
            </div>
          </div>
          <div class="col-lg-6 h-100 position-relative d-none d-lg-block">
            <!--第一個裝飾-->
            <div class="custom-box bg-white bg-opacity-25 rounded-5 d-none d-lg-block card-topic2">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center">
                  <h2 class="fs-6 fw-bold pe-2 border-1 border-end border-white">智慧電視</h2>
                  <h2 class="fs-6 fw-bold ps-2">iTV</h2>
                </div>
                <a href="#" class="d-inline-block link-light stretched-link"><i class="ph ph-arrow-up-right fs-3"></i></a>
              </div>
              <div>
                <p class="fs-sm fw-medium">無論是電影、遊戲還是直播，使用我們的智慧電視探索終極觀影體驗，盡享震撼視覺盛宴！</p>
              </div>
            </div>
            <div class="index-dec-box bg-white bg-opacity-50 d-none d-lg-block">
              <div class="index-dec-in-box">
              </div>
            </div>
            <div class="index-dec-line d-none d-lg-block">
              <img src="/assets/images/pen_size_1_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" class="img-fluid" alt="">
            </div>
            <!--第二個裝飾-->
            <div class="custom-box2 bg-white bg-opacity-25 rounded-5 d-none d-lg-block card-topic2">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center">
                  <h2 class="fs-6 fw-bold pe-2 border-1 border-end border-white">智能照明</h2>
                  <h2 class="fs-6 fw-bold ps-2">iLighting</h2>
                </div>
                <a href="#" class="d-inline-block link-light stretched-link"><i class="ph ph-arrow-up-right fs-3"></i></a>
              </div>
              <div>
                <p class="fs-sm fw-medium">無論是電影、遊戲還是直播，使用我們的智慧電視探索終極觀影體驗，盡享震撼視覺盛宴！</p>
              </div>
            </div>
            <div class="index-dec-box2 bg-white bg-opacity-50 d-none d-lg-block">
              <div class="index-dec-in-box2">
              </div>
            </div>
            <div class="index-dec-line2 d-none d-lg-block">
              <img src="/assets/images/pen_size_1_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" class="img-fluid" alt="">
            </div>
            <!--第三個裝飾-->
            <div class="custom-box3 bg-white bg-opacity-25 rounded-5 d-none d-lg-block card-topic2">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <div class="d-flex align-items-center">
                  <h2 class="fs-6 fw-bold pe-2 border-1 border-end border-white">智慧音響</h2>
                  <h2 class="fs-6 fw-bold ps-2">iSound Pro</h2>
                </div>
                <a href="#" class="d-inline-block link-light stretched-link"><i class="ph ph-arrow-up-right fs-3"></i></a>
              </div>
              <div>
                <p class="fs-sm fw-medium">只需語音指令，即可播放音樂、調整音量、設置鬧鐘等，真正解放您的雙手。</p>
              </div>
            </div>
            <div class="index-dec-box3 bg-white bg-opacity-50 d-none d-lg-block">
              <div class="index-dec-in-box3">
              </div>
            </div>
            <div class="index-dec-line3 d-none d-lg-block">
              <img src="/assets/images/pen_size_2_16dp_FFFFFF_FILL0_wght400_GRAD0_opsz20.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <%- include('./layout/index-section'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
