<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner">
      <div class="pb-6 pb-lg-8"></div>
    </section>
    <section class="feature">
      <div class="container">
        <div class="py-6 py-lg-8 border-bottom border-top border-gray-4">
          <div class="d-flex align-items-center justify-content-between mb-6 mb-lg-8">
            <div class="d-flex align-items-center">
              <img src="https://fakeimg.pl/24x24/" class="me-2" alt="">
              <h2 class="fs-5 text-primary-9">特色類別</h2>
            </div>
            <a href="#" class="d-inline-block">查看更多<i class="ph ph-arrow-up-right ms-2"></i></a>
          </div>
          <div class="swiper featureSwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/156x144/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/322x186/" class="card-img" />
                  </picture>
                  <div class="card-img-overlay p-0 d-flex">
                    <h3 class="ms-5 mb-4 p-0 fs-7 align-self-end">智慧廚房</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/156x144/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/322x186/" class="card-img" />
                  </picture>
                  <div class="card-img-overlay p-0 d-flex">
                    <h3 class="ms-5 mb-4 p-0 fs-7 align-self-end">居家生活管家</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/156x144/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/322x186/" class="card-img" />
                  </picture>
                  <div class="card-img-overlay p-0 d-flex">
                    <h3 class="ms-5 mb-4 p-0 fs-7 align-self-end">生活娛樂</h3>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/156x144/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/322x186/" class="card-img" />
                  </picture>
                  <div class="card-img-overlay p-0 d-flex">
                    <h3 class="ms-5 mb-4 p-0 fs-7 align-self-end">生活安全</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="search">
      <div class="container">
        <div class="py-6 py-lg-8 border-bottom border-gray-4">
          <div class="d-flex flex-column flex-xxl-row justify-content-xxl-between align-items-xxl-center mb-6">
            <div>
              <button class="btn btn-outline-secondary fs-xs fs-lg-base py-2 py-xl-3 px-5 rounded-5 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="ph ph-funnel-simple fs-6 fs-lg-5 me-2 align-bottom"></i>篩選器
              </button>
            </div>
            <div class="swiper searchSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>所有商品</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能照明</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能窗簾</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能恆溫</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能插座和開關</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能電視</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能廚房電器</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button"><p>智能音箱</p></button>
                    <i class="ph ph-line-vertical"></i>
                  </div>
                </div>
                <div class="swiper-slide w-auto">
                  <div class="d-flex align-items-center">
                    <button class="btn btn-text py-2 px-4" type="button">更多<i class="ph ph-caret-down fs-5 align-bottom ms-2 d-none d-lg-inline-block"></i></button>
                    <i class="ph ph-line-vertical d-block d-lg-none"></i>
                  </div>
                  <div class="nav-item dropdown d-none"> <!-- 測試swiper用dropdown-->
                    <a class="dropdown-togglebtn btn btn-text py-2 px-3 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">更多
                      <i class="ph ph-caret-down fs-5 align-bottom ms-2 d-none d-lg-inline-block"></i>
                    </a>
                    <ul class="dropdown-menu rounded-0">
                      <li><a class="dropdown-item" href="#">item-1</a></li>
                      <li><a class="dropdown-item" href="#">item-2</a></li>
                      <li>
                        <a class="dropdown-item" href="#">item-3</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body border-0 p-0">
              <div class="row d-flex flex-column flex-lg-row">
                <div class="col-lg-3 mb-4 mb-lg-0">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="">搜尋類別</p>
                    <a href="#" class="fw-normal fs-sm text-gray-5">清除</a>
                  </div>
                  <form class="d-flex" role="search">
                    <div class="position-relative w-100">
                      <input class="form-control rounded-5 border-gray-9 py-4 ps-11" type="search" placeholder="Ai智能電視" aria-label="Search"/>
                      <i class="ph ph-magnifying-glass text-gray-9 position-absolute top-50 start-0 translate-middle-y ms-3 fs-5"></i>
                    </div>
                  </form>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="">評價篩選</p>
                    <a href="#" class="fw-normal fs-sm text-gray-5">清除</a>
                  </div>
                  <form class="d-flex" role="search">
                    <div class="position-relative w-100">
                      <input class="form-control rounded-5 border-gray-9 py-4 ps-11" type="search" placeholder="從評價高到低" aria-label="Search"/>
                      <i class="ph ph-magnifying-glass text-gray-9 position-absolute top-50 start-0 translate-middle-y ms-3 fs-5"></i>
                    </div>
                  </form>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="">價格篩選</p>
                    <a href="#" class="fw-normal fs-sm text-gray-5">清除</a>
                  </div>
                  <form class="d-flex" role="search">
                    <div class="position-relative w-100">
                      <input class="form-control rounded-5 border-gray-9 py-4 ps-11" type="search" placeholder="從價格高到低" aria-label="Search"/>
                      <i class="ph ph-magnifying-glass text-gray-9 position-absolute top-50 start-0 translate-middle-y ms-3 fs-5"></i>
                    </div>
                  </form>
                </div>
                <div class="col-lg-3 d-flex justify-content-end align-items-end">
                  <button class="btn btn-primary py-3 px-5 rounded-5 fs-xs fs-lg-base w-100 w-lg-auto"><i class="ph ph-magnifying-glass fs-6 fs-lg-5 text-white me-2 align-bottom"></i>立即搜尋</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-section-1">
      <div class="container">
        <div class="py-6 py-lg-8 border-bottom border-gray-4">
          <div class="d-flex align-items-center justify-content-between mb-6 mb-lg-8">
            <div class="d-flex align-items-center">
              <img src="https://fakeimg.pl/24x24/" class="me-2" alt="">
              <h2 class="fs-5 text-primary-9">今日優惠</h2>
            </div>
            <a href="#" class="d-inline-block">查看更多<i class="ph ph-arrow-up-right ms-2"></i></a>
          </div>
          <div class="swiper indexSwiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">EcoSense 光控智能窗簾</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$4,900</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">SmartShade Elite 智能窗簾</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$2,290</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">LuxSync 智能窗簾</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$5,490</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-section-2">
      <div class="container">
        <div class="py-6 py-lg-8 border-bottom border-gray-4">
          <div class="d-flex align-items-center justify-content-between mb-6 mb-lg-8">
            <div class="d-flex align-items-center">
              <img src="https://fakeimg.pl/24x24/" class="me-2" alt="">
              <h2 class="fs-5 text-primary-9">熱銷商品</h2>
            </div>
            <a href="#" class="d-inline-block">查看更多<i class="ph ph-arrow-up-right ms-2"></i></a>
          </div>
          <div class="swiper indexSwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">SwitchSync 智能開關</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$4,900</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">StreamPro QLED 75</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$39,900</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">ThermoSync 智能恆溫器</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$3,900</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="index-section-3">
      <div class="container">
        <div class="py-6 py-lg-8 border-bottom border-gray-4">
          <div class="d-flex align-items-center justify-content-between mb-6 mb-lg-8">
            <div class="d-flex align-items-center">
              <img src="https://fakeimg.pl/24x24/" class="me-2" alt="">
              <h2 class="fs-5 text-primary-9">最近瀏覽</h2>
            </div>
            <a href="#" class="d-inline-block">查看更多<i class="ph ph-arrow-up-right ms-2"></i></a>
          </div>
          <div class="swiper indexSwiper3">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">LumiSync 智能燈泡</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$1,980 </h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">VoiceSync 智能語音助手</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$17,900 </h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card border-0 bg-white">
                  <picture>
                    <source
                      srcset="https://fakeimg.pl/320x187/"
                      media="(max-width:992px)"
                      class="card-img"
                    />
                    <img src="https://fakeimg.pl/437x247/" class="card-img" />
                  </picture>
                  <div class="card-body border-0 p-3">
                    <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                    <h3 class="fs-7 fs-lg-6 mb-1">RoboSync 掃地機器人</h3>
                    <div class="d-flex align-items-center mb-4">
                      <h3 class="fs-5 fs-xl-3 pe-4">$22,980</h3>
                      <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i>•10 則評論</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <button href="#" class="btn btn-text p-2 border-circle me-3"><i class="ph ph-heart fs-5 align-bottom"></i></button>
                      <a href="#" class="btn btn-primary d-block py-2 w-100 fs-xs fs-lg-base">加入購物車</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
