<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="plan-select-banner">
      <div class="container pt-6 pb-0 py-lg-20">
        <div class="row">
          <div class="swiper planselect5Swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-secondary-1 bg-opacity-90 rounded-5">
                <div class="row row-cols-lg-2 px-lg-0 px-3">
                  <section class="col">
                    <div class="d-block d-lg-none mt-16">
                      <div>
                        <a href="plan-select3.html" class="py-3 link-gray-9 mb-2"><i class="ph ph-arrow-left me-2"></i>返回</a>
                        <h1 class="fs-5 text-primary-9 mb-4">為您推薦以下產品</h1>
                      </div>
                    </div>
                    <div class="swiper planselect6Swiper2 d-block d-lg-none">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-4">
                            <h3 class="text-primary-9 fs-base mb-1">選項一</h3>
                            <p class="text-gray-5 fs-sm">-節能環保，智能控制光線，為您創造舒適居家環境。</p>
                          </div>
                          <div class="card border-0 bg-white">
                            <img src="/assets/images/智能窗簾產品圖.png" class="card-img img-fluid object-fit-cover img-bp2" />
                            <div class="card-body border-0 p-3">
                              <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                              <h3 class="fs-7 fs-lg-6 mb-1">EcoSense 光控智能窗簾</h3>
                              <div class="d-flex align-items-center mb-4">
                                <h3 class="fs-l fs-xl-3 pe-4">$4,900</h3>
                                <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-4">
                            <h3 class="text-primary-9 fs-base mb-1">選項二</h3>
                            <p class="text-gray-5 fs-sm">-採用高端光感應技術，智能精準調節，為追求極致節能與舒適的家庭提供高效解決方案。</p>
                          </div>
                          <div class="card border-0 bg-white">
                            <img src="/assets/images/產品圖-今日優惠-智能窗簾4.png" class="card-img img-fluid object-fit-cover img-bp2" />
                            <div class="card-body border-0 p-3">
                              <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                              <h3 class="fs-7 fs-lg-6 mb-1">LuxSync 智能窗簾</h3>
                              <div class="d-flex align-items-center mb-4">
                                <h3 class="fs-l fs-xl-3 pe-4">$5,490</h3>
                                <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-4">
                            <h3 class="text-primary-9 fs-base mb-1">選項三</h3>
                            <p class="text-gray-5 fs-sm">-具備光感應與節能功能，平價實惠，自動化控制，適合希望提升居家環境但有預算考量的消費者。</p>
                          </div>
                          <div class="card border-0 bg-white">
                            <img src="/assets/images/產品圖-今日優惠-智能窗簾3.png" class="card-img img-fluid object-fit-cover img-bp2" />
                            <div class="card-body border-0 p-3">
                              <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                              <h3 class="fs-7 fs-lg-6 mb-1">SmartShade Elite 智能窗簾</h3>
                              <div class="d-flex align-items-center mb-4">
                                <h3 class="fs-l fs-xl-3 pe-4">$2,290</h3>
                                <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-pagination mb-planselect4 d-block d-lg-none"></div>
                    <!-- Swiper -->
                    <!-- 上方所展示的大張圖片 -->
                    <div class="swiper planselect4Swiper2 mb-1 mb-lg-2 rounded-5 d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide h-auto">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能窗簾產品圖.png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節.png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (1).png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (2).png"/>
                        </div>
                      </div>
                    </div>
                    <div thumbsSlider="" class="swiper planselect4Swiper d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide rounded-3 overflow-hidden h-auto">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能窗簾產品圖.png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節.png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (1).png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (2).png"/>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="col">
                    <div class="plan-select4-text">
                      <div class="d-none d-lg-block">
                        <div class="mb-9">
                          <a href="plan-select3.html" class="py-3 link-gray-9"><i class="ph ph-arrow-left me-2"></i>返回</a>
                          <h1 class="fs-5 fs-lg-l">為你推薦</h1>
                        </div>
                      </div>
                      <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-3 d-none d-lg-block">
                        <h3 class="text-primary-9 fs-base mb-1">選項一</h3>
                        <p class="text-gray-5 fs-sm">-節能環保，智能控制光線，為您創造舒適居家環境。</p>
                      </div>
                      <div class="bg-white border-0 rounded-5 py-5 px-6 mb-9 d-none d-lg-block">
                        <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                        <h3 class="fs-7 fs-lg-6 mb-1">EcoSense 光控智能窗簾</h3>
                        <div class="d-flex align-items-center">
                          <h3 class="fs-l fs-xl-3 pe-4">$4,900</h3>
                          <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                        </div>
                      </div>
                      <div>
                        <a href="product-info.html" class="btn btn-primary d-block py-3 mt-planselect4">查看詳細內容</a>
                      </div>
                    </div>  
                  </section>  
                </div>
              </div>
              <div class="swiper-slide d-none d-lg-block bg-secondary-1 bg-opacity-90 rounded-5">
                <div class="row row-cols-lg-2 px-lg-0 px-3">
                  <section class="col">
                    <!-- Swiper -->
                    <!-- 上方所展示的大張圖片 -->
                    <div class="swiper planselect4_2Swiper2 mb-1 mb-lg-2 rounded-5 d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <img class="w-100 img-bp3 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二.jpeg"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節 (1).png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節 (2).png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節.png"/>
                        </div>
                      </div>
                    </div>
                    <div thumbsSlider="" class="swiper planselect4_2Swiper d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 img-bp4 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二.jpeg" />
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節 (1).png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節 (2).png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案二細節.png"/>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="col">
                    <div class="plan-select4-text">
                      <div class="d-none d-lg-block">
                        <div class="mb-9">
                          <a href="plan-select3.html" class="py-3 link-gray-9"><i class="ph ph-arrow-left me-2"></i>返回</a>
                          <h1 class="fs-5 fs-lg-l">為你推薦</h1>
                        </div>
                      </div>
                      <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-3 d-none d-lg-block">
                        <h3 class="text-primary-9 fs-base mb-1">選項二</h3>
                        <p class="text-gray-5 fs-sm">-採用高端光感應技術，智能精準調節，為追求極致節能與舒適的家庭提供高效解決方案。</p>
                      </div>
                      <div class="bg-white border-0 rounded-5 py-5 px-6 mb-9 d-none d-lg-block">
                        <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                        <h3 class="fs-7 fs-lg-6 mb-1">LuxSync 智能窗簾</h3>
                        <div class="d-flex align-items-center">
                          <h3 class="fs-l fs-xl-3 pe-4">$5,490</h3>
                          <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                        </div>
                      </div>
                      <div>
                        <a href="product-info.html" class="btn btn-primary d-block py-3 mt-planselect4">查看詳細內容</a>
                      </div>
                    </div>  
                  </section>  
                </div>
              </div>
              <div class="swiper-slide d-none d-lg-block bg-secondary-1 bg-opacity-90 rounded-5">
                <div class="row row-cols-lg-2 px-lg-0 px-3">
                  <section class="col">
                    <!-- Swiper -->
                    <!-- 上方所展示的大張圖片 -->
                    <div class="swiper planselect4_3Swiper2 mb-1 mb-lg-2 rounded-5 d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide h-auto">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/產品圖-今日優惠-智能窗簾3.png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節.png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (1).png"/>
                        </div>
                        <div class="swiper-slide overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (2).png"/>
                        </div>
                      </div>
                    </div>
                    <div thumbsSlider="" class="swiper planselect4_3Swiper d-none d-lg-block">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide rounded-3 overflow-hidden h-auto">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/產品圖-今日優惠-智能窗簾3.png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節.png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (1).png"/>
                        </div>
                        <div class="swiper-slide rounded-3 overflow-hidden">
                          <img class="w-100 h-100 img-fluid object-fit-cover" src="/assets/images/智能評估/04/方案一細節 (2).png"/>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="col">
                    <div class="plan-select4-text">
                      <div class="d-none d-lg-block">
                        <div class="mb-9">
                          <a href="plan-select3.html" class="py-3 link-gray-9"><i class="ph ph-arrow-left me-2"></i>返回</a>
                          <h1 class="fs-5 fs-lg-l">為你推薦</h1>
                        </div>
                      </div>
                      <div class="bg-primary-light border-0 rounded-5 py-3 px-4 mb-3 d-none d-lg-block">
                        <h3 class="text-primary-9 fs-base mb-1">選項三</h3>
                        <p class="text-gray-5 fs-sm">-具備光感應與節能功能，平價實惠，自動化控制，適合希望提升居家環境但有預算考量的消費者。</p>
                      </div>
                      <div class="bg-white border-0 rounded-5 py-5 px-6 mb-9 d-none d-lg-block">
                        <p class="fw-medium fs-xs fs-lg-sm text-primary-6 badge bg-primary-1 py-1 px-3 mb-1"><i class="ph ph-ticket pe-1 align-bottom"></i>九折優惠</p>
                        <h3 class="fs-7 fs-lg-6 mb-1">SmartShade Elite 智能窗簾</h3>
                        <div class="d-flex align-items-center">
                          <h3 class="fs-l fs-xl-3 pe-4">$2,290</h3>
                          <p class="border-1 border-start border-gray-7 ps-4 text-gray-5 fs-sm d-flex align-items-center gap-1"><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph-fill ph-star text-warning"></i><i class="ph ph-star text-warning"></i><i class="ph ph-star text-warning"></i><span class="d-inline-block">•</span><span class="d-inline-block">10 則評論</span></p>
                        </div>
                      </div>
                      <div>
                        <a href="product-info.html" class="btn btn-primary d-block py-3 mt-planselect4">查看詳細內容</a>
                      </div>
                    </div>  
                  </section>  
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block">
              <div class="planselect5Swiper-button-next btn btn-outline-primary"><i class="ph ph-arrow-right fs-base"></i></div>
            <div class="d-none d-lg-block">
              <div class="planselect5Swiper-button-prev btn btn-outline-primary"><i class="ph ph-arrow-left fs-base"></i></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <%- include('./layout/index-section'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
