<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品資訊</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <!-- header -->
    <%- include('./layout/header'); -%>

    <!-- 產品規格 section-1 -->
    <section class="pt-6 pb-8 py-lg-8">
      <div class="container">
        <div
          class="d-flex flex-column flex-md-row justify-content-between mb-6 mb-lg-8"
        >
          <section class="mb-3 mb-md-0">
            <a class="link-gray-9" href="index.html">
              <i class="ph ph-arrow-left fs-5 align-bottom me-3"></i
              ><span>返回</span>
            </a>
          </section>
          <section>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item fs-xs fs-lg-sm">
                  <a class="breadcrumb-item-hover" href="index.html">首頁</a>
                </li>
                <li class="breadcrumb-item fs-xs fs-lg-sm">
                  <a class="breadcrumb-item-hover" href="plan-select.html"
                    >綠色節能智能窗簾</a
                  >
                </li>
                <li
                  class="breadcrumb-item fs-xs fs-lg-sm active"
                  aria-current="page"
                >
                  EcoSense 光控智能窗簾
                </li>
              </ol>
            </nav>
          </section>
        </div>
        <div class="row row-cols-lg-2">
          <section class="col">
            <!-- Swiper -->
            <!-- 上方所展示的大張圖片 -->
            <div class="swiper productImageSwiper2 mb-1 mb-lg-2 rounded-5">
              <div class="swiper-wrapper">
                <div class="swiper-slide overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能窗簾產品圖.png"
                  />
                </div>
                <div class="swiper-slide overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節.png"
                  />
                </div>
                <div class="swiper-slide overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節 (1).png"
                  />
                </div>
                <div class="swiper-slide overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節 (2).png"
                  />
                </div>
              </div>
            </div>
            <div thumbsSlider="" class="swiper productImageSwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide rounded-3 overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能窗簾產品圖.png"
                  />
                </div>
                <div class="swiper-slide rounded-3 overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節.png"
                  />
                </div>
                <div class="swiper-slide rounded-3 overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節 (1).png"
                  />
                </div>
                <div class="swiper-slide rounded-3 overflow-hidden">
                  <img
                    class="d-block w-100 h-100 object-fit-cover"
                    src="/assets/images/智能評估/04/方案一細節 (2).png"
                  />
                </div>
              </div>
            </div>
          </section>
          <section class="col">
            <div class="px-xl-10">
              <h2 class="fs-6 fs-lg-5 text-gray-9 mt-8 mt-lg-6 fw-bolder">
                EcoSense 光控智能窗簾
              </h2>
              <!-- star & comments -->
              <ul
                class="mt-2 mt-lg-3 d-flex align-items-center list-unstyled gap-1"
              >
                <li>
                  <i class="ph-fill ph-star text-yellow-3 fs-base"></i>
                </li>
                <li>
                  <i class="ph-fill ph-star text-yellow-3 fs-base"></i>
                </li>
                <li>
                  <i class="ph-fill ph-star text-yellow-3 fs-base"></i>
                </li>
                <li>
                  <i class="ph ph-star text-yellow-3 fs-base"></i>
                </li>
                <li>
                  <i class="ph ph-star text-yellow-3 fs-base"></i>
                </li>
                <li>•</li>
                <li class="text-gray-5">10 則評論</li>
              </ul>
              <!-- discount & stock -->
              <div class="d-flex gap-2 mb-3 mb-lg-6">
                <p
                  class="d-flex align-items-center bg-primary-1 py-1 px-3 rounded-5 text-primary-9"
                >
                  <i class="ph-bold ph-ticket fs-sm fs-lg-base me-1"></i
                  ><span class="fs-xs fs-lg-sm fw-medium">九折優惠</span>
                </p>
                <p
                  class="d-flex align-items-center bg-primary-1 py-1 px-3 rounded-5 text-primary-9"
                >
                  <i class="ph-bold ph-package fs-sm fs-lg-base me-1"></i
                  ><span class="fs-xs fs-lg-sm fw-medium">有庫存</span>
                </p>
              </div>
              <p class="price-fs fw-bold mb-3 mb-lg-6">$4,900</p>
              <!-- form -->
              <form class="my-3" action="">
                <!-- 產品顏色選擇 -->
                <section class="product-color mb-4">
                  <p class="fs-base text-gray-9 mb-3">
                    顏色<span class="text-red-6 ms-1">*</span>
                  </p>
                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option1"
                    autocomplete="off"
                    checked
                  />
                  <label
                    class="btn btn-outline-primary py-2 px-5 rounded-5 btn-hover me-3"
                    for="option1"
                    >米白</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option2"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-primary py-2 px-5 rounded-5 btn-hover me-3"
                    for="option2"
                    >灰色</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option3"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-primary py-2 px-5 rounded-5 btn-hover me-3"
                    for="option3"
                    >深藍</label
                  >

                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option4"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-primary py-2 px-5 rounded-5 btn-hover"
                    for="option4"
                    >黑色</label
                  >
                </section>
                <!-- size 選擇 -->
                <section class="size-select mb-4">
                  <label class="fs-base text-gray-9 mb-3" for="size-select"
                    >窗簾尺寸（公分）<span class="text-red-6 ms-1"
                      >*</span
                    ></label
                  >
                  <select
                    class="form-select input-select text-gray-5"
                    id="size-select"
                    aria-label="Default select example"
                  >
                    <option selected disabled>請選擇</option>
                    <option class="text-gray-9" value="100x140">100x140</option>
                    <option class="text-gray-9" value="100x178">100x178</option>
                    <option class="text-gray-9" value="150x178">150x178</option>
                    <option class="text-gray-9" value="150x230">150x230</option>
                    <option class="text-gray-9" value="165x270">165x270</option>
                    <option class="text-gray-9" value="230x270">230x270</option>
                  </select>
                </section>
                <!-- 數量選擇 -->
                <section class="number-circle mb-0 mb-lg-3">
                  <p class="fs-base text-gray-9 mb-3">
                    數量<span class="text-red-6 ms-1">*</span>
                  </p>
                  <div class="d-flex align-items-center gap-4">
                    <!-- minus-button -->
                    <button class="input-number">
                      <i class="ph-bold ph-minus fs-sm"></i></button
                    ><span class="fs-6 text-gray-9">1</span>
                    <!-- plus-button -->
                    <button class="input-number">
                      <i class="ph-bold ph-plus fs-sm"></i>
                    </button>
                  </div>
                </section>
                <section
                  class="d-flex flex-column flex-lg-row gap-3 mt-3 mt-lg-6"
                >
                  <a
                    class="btn btn-primary fw-bold py-3 rounded-5 mw-33 border-hover"
                    href="shopping-cart.html"
                    ><i class="ph ph-wallet fs-5 align-bottom me-2"></i
                    >直接購買</a
                  ><a
                    class="btn btn-outline-primary fw-bold py-3 rounded-5 mw-33 border-hover"
                    href="shopping-cart.html"
                    ><i
                      class="ph ph-shopping-cart-simple fs-5 align-bottom me-2"
                    ></i
                    >加入購物車</a
                  ><a
                    class="btn btn-outline-primary fw-bold py-3 rounded-5 mw-33 border-hover"
                    href="#"
                    ><i class="ph ph-heart fs-5 align-bottom me-2"></i
                    >加入最愛</a
                  >
                </section>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>

    <!-- 商品介紹 section-2 -->
    <section class="pb-6 pb-lg-8">
      <div class="container">
        <div class="pb-6 pb-lg-8 border-bottom border-gray-4">
          <h3
            class="pt-6 pt-lg-8 border-top border-gray-4 fs-5 fw-bolder mb-6 mb-lg-8"
          >
            商品介紹
          </h3>
          <!-- 商品介紹 Navs and tabs -->
          <ul class="nav gap-6 mb-6 mb-lg-8">
            <li class="nav-item">
              <a
                class="product-intro-nav-link product-intro-nav-link-active"
                aria-current="page"
                href="#"
                >產品描述</a
              >
            </li>
            <li class="nav-item">
              <a class="product-intro-nav-link" href="#">評論</a>
            </li>
            <li class="nav-item">
              <a class="product-intro-nav-link" href="#">問題</a>
            </li>
            <li class="nav-item">
              <a class="product-intro-nav-link" href="#">保固單</a>
            </li>
          </ul>
          <div class="row">
            <!-- 產品敘述 -->
            <div class="col-lg-8">
              <h4 class="fs-6 text-gray-9 fw-bold mb-3">產品敘述</h4>
              <!-- 1 -->
              <div class="pb-2 border-bottom border-gray-3 mb-3">
                <h5 class="fs-7 text-gray-9 fw-bold mb-2">
                  節能環保，智控生活
                </h5>
                <p class="fs-sm text-gray-6">
                  EcoSense
                  光感節能智能窗簾結合最新科技與環保材料，致力於為您的家居環境提供最舒適、節能的光線管理方案。此窗簾能根據環境光線自動調節，使您的居家空間始終保持最佳的光線和溫度，從而達到節能的效果。
                </p>
              </div>
              <!-- 2 -->
              <div class="pb-2 border-bottom border-gray-3 mb-3">
                <h5 class="fs-7 text-gray-9 fw-bold mb-2">
                  智能控制，隨心所欲
                </h5>
                <p class="fs-sm text-gray-6">
                  透過專屬的手機App，您可以隨時隨地控制窗簾的開合。此外，EcoSense
                  亦支持語音助手，如Alexa和Google
                  Assistant，只需一句話便能輕鬆操控。您還可以設置定時開關，讓窗簾根據您的作息自動運作，為您打造更加便利的智慧生活。
                </p>
              </div>
              <!-- 3 -->
              <div class="pb-2 border-bottom border-gray-3 mb-3">
                <h5 class="fs-7 text-gray-9 fw-bold mb-2">
                  多樣選擇，符合您的風格
                </h5>
                <p class="fs-sm text-gray-6">
                  EcoSense
                  光感節能智能窗簾提供多種顏色和尺寸選擇，滿足不同裝潢風格的需求。如果標準尺寸無法滿足您的需求，我們還提供客製化服務，確保每一款窗簾都能完美貼合您的窗戶。
                </p>
              </div>
              <!-- 4 -->
              <div class="pb-2 border-bottom border-gray-3 mb-3">
                <h5 class="fs-7 text-gray-9 fw-bold mb-2">
                  易於安裝，持久耐用
                </h5>
                <p class="fs-sm text-gray-6">
                  我們提供簡易的安裝指南，讓您能輕鬆完成安裝。如果需要專業協助，我們的安裝服務團隊也隨時為您效勞。EcoSmart
                  窗簾採用耐用材質，並提供2年的保固服務，讓您使用無憂。
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- 產品規格 -->
              <section class="mb-3">
                <h4 class="fs-6 text-gray-9 fw-bold mb-4">產品規格</h4>
                <!-- 1 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2 mb-2"
                >
                  <span class="fs-sm text-gray-9">型號</span
                  ><span class="fs-sm text-gray-6">EcoSense</span>
                </div>
                <!-- 2 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2 mb-2"
                >
                  <span class="fs-sm text-gray-9">材質</span
                  ><span class="fs-sm text-gray-6"
                    >高品質遮光布料，環保材料製成</span
                  >
                </div>
                <!-- 3 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2 mb-2"
                >
                  <span class="fs-sm text-gray-9">尺寸</span>
                  <div>
                    <p class="fs-sm text-gray-6">寬度：60cm - 300cm</p>
                    <p class="fs-sm text-gray-6">長度：100cm - 300cm</p>
                  </div>
                </div>
                <!-- 4 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2 mb-2"
                >
                  <span class="fs-sm text-gray-9">電源</span
                  ><span class="fs-sm text-gray-6"
                    >內建可充電鋰電池，或連接AC電源</span
                  >
                </div>
                <!-- 5 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2 mb-2"
                >
                  <span class="fs-sm text-gray-9">連接方式</span
                  ><span class="fs-sm text-gray-6">Wi-FI, Bluetooth</span>
                </div>
                <!-- 6 -->
                <div
                  class="d-flex justify-content-between text-end py-2 border-bottom border-secondary-2"
                >
                  <span class="fs-sm text-gray-9">控制方式</span>
                  <div>
                    <p class="fs-sm text-gray-6">手機App（iOS/Android）</p>
                    <p class="fs-sm text-gray-6">
                      語音助手（Alexa/Google AsSistant）
                    </p>
                    <p class="fs-sm text-gray-6">遙控器</p>
                  </div>
                </div>
              </section>
              <!-- 產品功能 -->
              <section>
                <h4 class="fs-6 text-gray-9 fw-bold mb-4">產品功能</h4>
                <p
                  class="fs-sm text-gray-9 py-2 border-bottom border-secondary-2"
                >
                  光感應自動調節
                </p>
                <p
                  class="fs-sm text-gray-9 py-2 border-bottom border-secondary-2"
                >
                  定時開關
                </p>
                <p
                  class="fs-sm text-gray-9 py-2 border-bottom border-secondary-2"
                >
                  智能家居系統整合（可與其他智能設備聯動
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 猜您喜歡 section-3 -->
    <section class="pb-6 pb-lg-8">
      <div class="container">
        <!-- guessLikeSwiper.ejs -->
        <%- include('./layout/guessLikeSwiper'); -%>
      </div>
    </section>

    <!-- footer -->
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
