<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container"><h1 class="index-title"><i class="ph ph-airplane-taxiing"></i>我是首頁</h1></div>

    <div class="card" style="width: 18rem">
      <img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" />
      <div class="card-body">
        <h5 class="card-title">卡片元件</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, odit, iusto odio assumenda alias id
          nobis earum!
        </p>
      </div>
    </div>

    <!-- Modal 按鈕 -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button>

    <!-- Modal 元件 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div>



    <!-- swiper 元件test -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
        <div class="swiper-slide"><img src="../assets/images/cat.jpg" class="card-img-top" alt="cat" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>


    <!-- 多做的卡片 -->
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-8">
      <div class="d-flex align-items-center">
        <img src="https://fakeimg.pl/24x24/" class="me-2" alt="">
        <h2 class="fs-5 text-primary-9">特色類別</h2>
      </div>
      <a href="#" class="d-inline-block">查看更多<i class="ph ph-arrow-up-right ms-2"></i></a>
    </div>
    <ul class="row list-unstyled">
      <li class="col-md-6 col-lg-3 rounded-5">
        <div class="card">
          <img src="https://fakeimg.pl/322x186/" class="card-img">
          <div class="card-img-overlay p-0 align-self-end">
            <h3 class="ms-5 mb-4 p-0 fs-7">智慧廚房</h3>
          </div>
        </div>
      </li>
      <li class="col-md-6 col-lg-3 rounded-5">
        <div class="card">
          <img src="https://fakeimg.pl/322x186/" class="card-img">
          <div class="card-img-overlay p-0 align-self-end">
            <h3 class="ms-5 mb-4 p-0 fs-7">居家生活管家</h3>
          </div>
        </div>
      </li>
      <li class="col-md-6 col-lg-3 rounded-5">
        <div class="card">
          <img src="https://fakeimg.pl/322x186/" class="card-img">
          <div class="card-img-overlay p-0 align-self-end">
            <h3 class="ms-5 mb-4 p-0 fs-7">生活娛樂</h3>
          </div>
        </div>
      </li>
      <li class="col-md-6 col-lg-3 rounded-5">
        <div class="card">
          <img src="https://fakeimg.pl/322x186/" class="card-img">
          <div class="card-img-overlay p-0 align-self-end">
            <h3 class="ms-5 mb-4 p-0 fs-7">生活安全</h3>
          </div>
        </div>
      </li>
    </ul>
  </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
